/* css styles */

.shadow {
  drop-shadow(6px 6px)
}

.tiny {
  font-size: 42%;
}

code.sourceCode {
  font-size: 118% !important;
}

code.cellOutput {
  font-size: 108% !important;
}

.navbar {
    background-color: #2c6d2b;
    
}
header .nav-link {
    color: #9fd09f !important;
}
header .nav-link.active {
    color: #edfded !important;
}
header .nav-link:hover {
    color: #edfded !important;
}
header .navbar-title {
    color: #edfded !important;
}
p {
  text-align: justify;
}